<html>
    <!-- BODY -->
    <body>
        <!-- HEADER -->
        <header class="header">
            <title>Acerca de</title>
            <!--MY STYLE-->
            <link rel="stylesheet" href="/src/assets/styles/style.css">
            <!--/MY STYLE-->
            <a href="../../index.html" class="logo">Tarea 1 Tecnologías y Aplicaciones Web</a>
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="./acerca_de.html">Acerca de</a></li>
                <li><a href="./musica.html">Música</a></li>
            </ul>
        </header>
        <!-- /HEADER -->
        
        <!-- MAIN CONTENT -->
        <main id="index-one">
            <!-- CONTENT -->
                        <!-- NOTICIAS -->
                    <div class="index-one-heading">
                        Acerca de:
                    </div>
                        <!-- NOTICIA 1 -->
                    <div id="indexs-container">
                        <div class="index fade-up">
                                <article>
                                    <section>
                                    <h3>¿Qué hace la pagina?</h3>
                                    <p>Esta pagina es un proyecto de la asignatura de Tecnologías y Aplicaciones Web, 
                                        en la cual se busca crear una pagina web que contenga información sobre un tema en específico, 
                                        en este caso, mi top series de televisión.</p>
                                    </section>
                                    <section>
                                        <h3>El nacimiento del cine</h3>
                                        <p>Texto de la sección...</p>
                                    </section>
                                    </br>
                                    <section>
                                        <h3>La época dorada de Hollywood</h3>
                                        <p>Texto de la sección...</p>
                                    </section>
                                    </br>
                                    <section>
                                        <h3>El cine independiente</h3>
                                        <p>Texto de la sección...</p>
                                    </section>
                                </article>
                        </div>
                    </div>
                        <!-- /NOTICIA  -->
                        <!-- /NOTICIAS -->
                    <!-- /INDEX-CONTAINER-->
                </div>
                <!-- /CENTER -->
            <!-- /CONTENT -->
        </main>
        <!-- /MAIN CONTENT -->
    </body>
    <!-- /BODY -->
</html>
<!-- /HTML -->