<html>
    <!-- BODY -->
    <body>
        <!-- HEADER -->
        <header class="header">
            <title>Musica</title>
            <!--MY STYLE-->
            <link rel="stylesheet" href="/src/assets/styles/style.css">
            <!--/MY STYLE-->
            <a href="../../index.html" class="logo">Tarea 1 Tecnologías y Aplicaciones Web</a>
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="./acerca_de.html">Acerca de</a></li>
                <li><a href="./musica.html">Música</a></li>
            </ul>
        </header>
        <!-- /HEADER -->
        
        <!-- MAIN CONTENT -->
        <main id="index-one">
            <!-- CONTENT -->
                        <!-- NOTICIAS -->
                    <div class="index-one-heading">
                        Música:
                    </div>
                        <!-- NOTICIA 1 -->
                    <div id="indexs-container-musica">
                        <div class="index fade-up">
                            <div class="index-img"><img src="../assets/img/aveces.jpg" alt="index-img"></div>
                            <div class="index-text">
                                <div class="index-heading"> A Veces, Paulo Londra x Feid</div>
                                <div class="index-description">El conocido artista Paulo Londra vuelve con una nueva canción. 
                                                            Despues de su problema con la productora argentina Big Ligas no había vuelto a sacar canciónes del género urbano, 
                                                            pero eso acaba de cambiar, ya que el día 7 de noviembre lanzo un nuevo hit de este género, el cual era muy esperado por todos</div>
                            </div>
                        </div>
                        <!-- /NOTICIA 1 -->
                        <!-- NOTICIA 2 -->
                        <div class="index fade-up">
                            <div class="index-img"><img src="../assets/img/puntog.jpg" alt="index-img"></div>
                            <div class="index-text">
                                <div class="index-heading">Punto G, Quevedo</div>
                                <div class="index-description">El día 7 de noviembre Quevedo lanzo un hit en todas las plataformas de reproducción llamado Punto G. Esta es su 3era canción desde su máximo hit la BZRP Music Sessions #52,
                                                            canción que estuvo en el top 1 de multiples rankings durante varias semanas.
                                                            Se espera que esta canción tenga el mismo exito ya que se mantiene en el mismo género. </div>
                            </div>
                        </div>
                        <!-- /NOTICIA 2 -->
                        <!-- /NOTICIAS -->
                    </div>
                    <!-- /INDEX-CONTAINER-->
                </div>
                <!-- /CENTER -->
            <!-- /CONTENT -->
        </main>
        <!-- /MAIN CONTENT -->
    </body>
    <!-- /BODY -->
</html>
<!-- /HTML -->